{% extends 'struct.html' %}


{% block profile_page %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Your Profile
                    </div>
                    <div class="card-body">
                        <p class="profile-info"><strong>Username:</strong> {{user.username}}</p>
                        <p class="profile-info"><strong>Email:</strong> {{user.email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Movies</h2>
                <div class="row">
                    {% for data in datas %}
                        <div class="col-md-4">
                            <div class="card">
                                <a href="{{ url_for('views.details_page', data_id = data.id )}}">
                                    <img src="https://image.tmdb.org/t/p/w500/{{ data.poster_path }}" class="card-img-top movie-poster" alt="{{data.original_title}}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{data.original_title}}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock profile_page %}