{% extends 'struct.html' %}

{% block users_page %}

    <div class="container mt-5">
        <h1 class="mb-4">User List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user_i in users %}
                    {% if user_i.id != user.id %}
                        <tr>
                            <td><a href="{{ url_for('views.user_details', user_id = user_i.id)}}">{{user_i.username}}</a></td>
                            <td>{{user_i.email}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock users_page %}